:root {
            --primary-color-hai: #7fad39;
            --text-color-hai: #1c1c1c;
            --para-color-hai: #6f6f6f;
            --bg-gray-hai: #f5f5f5;
            --border-color-hai: #ebebeb;
        }

        * { 
            margin: 0; 
            padding: 0; 
            box-sizing: border-box; 
            list-style: none; 
        }

        a { 
            text-decoration: none; 
            color: inherit; 
            transition: all 0.3s ease; 
        }
        
        .body-hai {
            font-family: "Cairo", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #333333;
        }

        .container { 
            max-width: 1400px; 
            margin: 0 auto; 
            width: 100%; 
            padding: 0 110px; 
        }

        .inner { 
            width: 100%; 
        }

        /* --- RESPONSIVE CHUNG CHO BASE --- */
        @media (max-width: 1199px) {
            .container { 
                max-width: 960px; 
            }
            .container { 
            margin: 0 auto; 
            width: 100%; 
            padding: 0 30px; 
        }
        }

        @media (max-width: 991px) {
            .container { 
                max-width: 750px; 
            }
        }

        @media (max-width: 767px) {
            .container { 
                max-width: 100%; 
                padding: 0 15px; 
            }
        }